<!-- 
=================================================================================================
	                 The fact that you view it shows that you are curious.
	But we want you to know that we do not like the visitors who come to this part very much.
	                  Get out of here now and don't push us any more...
=================================================================================================
-->

<html lang="en">
<head>
  <title>Void Development</title>
  <link rel="icon" href="https://i.hizliresim.com/9wqffw.png" type="image/gif" sizes="4x4">
  <meta name="og:title" content="Void Development">
  <meta name="og:url" content="https://voiddeevs.org">
  <meta name="og:description" content="We are a team of developers and we develop projects to improve ourselves.">
  <meta name="theme-color" content="#3157d3">
  <meta name="og:image" content="https://i.hizliresim.com/9wqffw.png">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="../css/bulma.css">
  <link rel="stylesheet" href="../css/style.css">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="../js/style.js"></script>
  <script>
  AOS.init();
  </script>
</head>

<nav class="navbar navbar-dark" role="navigation" aria-label="main navigation">
	<div class="container">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://voiddevs.org">
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-end">
      <div class="navbar-item">
      <a href="/twitter" class="social twitter"><i class="social-icon fab fa-twitter"></i>&nbsp;Twitter</a>
      &nbsp;&nbsp;&nbsp;&nbsp;<a href="/youtube" class="social youtube"><i class="social-icon fab fa-youtube"></i>&nbsp;Youtube</a>
      &nbsp;&nbsp;&nbsp;&nbsp;<a href="/patreon" class="social patreon"><i class="social-icon fab fa-patreon"></i>&nbsp;Patreon</a>
      &nbsp;&nbsp;&nbsp;&nbsp;<a href="/github" class="social github"><i class="social-icon fab fa-github"></i>&nbsp;Github</a>
      </div>
      <div class="buttons">
      &nbsp;&nbsp;<a href="/discord" class="button is-discord">
        Discord
      </a>
		</div>
      </div>
    </div>
</div>
  </div>
</nav>
<script>
$('#projects').animatescroll({easing:'easeInOutBack'});
console.log("%cHey, you busted!","color: blue; font-size: 60px");
</script>